{%extends 'index_base.html'%}
{% load static %}
{%block body_block%}
<div class="card bg-dark text-white" style="height: max-content;">
    
    
    <div class="jumbotron jumbotron-fluid">
        <div class="container p-5">
            <h5 class="card-title  mb-2" style="font-size:80px;font-family: 'Arial', cursive;">Your Future Starts Here</h5>
            <p class="card-text fs-5 mb-4" style="font-family: 'Arial', cursive;">Find your next job or career</p>
            <img src="/static/images/job.png" class="img-fluid col-10" alt="job">
        </div>
      </div>

</div>
</div>
</div>
</div>
</div>
<div class="bg-dark">
<div class="container">
    <div class="row text-white">
        <div class="col-lg-6 col-md-6 col-sm-6" >
            <h5>QUICK LINKS</h5>
            <p><a class="text-decoration-none text-white" href="{%url 'company'%}">companies</a></p>
        </div>
        <div class="col-2"></div>
        <div class="col-lg-4 mt-5 col-md-6 col-sm-6" >
    <h5>Contact Us</h5>
            <p>+1234567890</p>
            <p>jobportal@gmail.com</p>
        </div>
    </div>
</div>


    </div>
{%endblock%}
